html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  max-width: 599px;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 700;
}

a, a:visited, a:active {
  text-decoration: none;
}

@keyframes check-icon {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes order-cards {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scaleAnimation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
    opacity: 0.85;
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes loader-hide {
  0% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.location {
  background-color: #EAEAEA;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.location .fa-location-dot {
  padding-right: 1em;
}

img {
  width: 162px;
  height: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 14px;
}

/*** explor & btn ***/
.titre-btn {
  background-color: #F6F6F6;
  text-align: center;
}

.intro-titre p {
  color: #353535;
  font-weight: 300;
  font-size: 18px;
}

.intro-titre {
  padding-left: 30px;
  padding-right: 30px;
}
.intro-titre h1 {
  margin-top: 0;
  padding-top: 28px;
}

.btn {
  height: 50px;
  width: 218px;
  margin: 2em;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  white-space: nowrap;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  opacity: 1;
  transition: all 250ms ease-in-out;
}
.btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

/*** fonctionnement ***/
.fonctionnement {
  background-color: #FFFFFF;
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 0 5em 0 5em;
    max-width: 1080px;
    margin: auto;
  }
}
.fonctionnement h2 {
  padding-left: 1.2em;
  font-size: 24px;
  margin-bottom: 0;
}
.fonctionnement__list {
  padding-left: 1.2em;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }
}
.fonctionnement__list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5em;
  margin: 1.5em 1.5em;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__list li {
    width: 335px;
  }
}
.fonctionnement__list li i {
  color: #7E7E7E;
  margin-left: 1em;
  margin-right: 1em;
}
.fonctionnement__list li .fa-store {
  color: #9356DC;
}
.fonctionnement__list--number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 0.2em;
  margin-left: -1.3em;
  width: 1em;
  text-align: center;
}

/*** restaurants ***/
.restaurants {
  background-color: #F6F6F6;
}

.restaurants-container {
  padding-bottom: 3em;
}
@media screen and (min-width: 1024px) {
  .restaurants-container {
    padding: 0 5em 0 5em;
    max-width: 1080px;
    margin: auto;
  }
}
.restaurants-container h2 {
  margin: 0;
  padding-top: 1.5em;
  padding-left: 1.2em;
}

.card {
  background-color: white;
  border-radius: 20px;
}

.restaurants-cards {
  flex-direction: column;
  margin-top: 0px;
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (min-width: 1024px) {
  .restaurants-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.restaurants-cards .card {
  max-width: none;
  gap: 4px;
  border-radius: 20px;
  margin: 1.5em;
  height: 251px;
  position: relative;
}
.restaurants-cards .card:hover {
  transform: scale(1.008);
  transition: transform 400ms ease-in-out;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.2);
}
.restaurants-cards .card .notif {
  height: 28px;
  width: 80px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 1;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.restaurants-cards .card .notif__text {
  padding: 0px 11px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}
.restaurants-cards a {
  height: 100%;
  display: block;
  color: #000;
}
.restaurants-cards img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
.restaurants-cards .card-content {
  width: 90%;
  display: block;
  padding-left: 10px;
  padding-top: 12px;
  display: flex;
}
.restaurants-cards .card-content .card-txt {
  margin: 0;
}
.restaurants-cards .card-content .card-txt h3 {
  margin: 0;
}
.restaurants-cards .card-content .card-txt p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  padding-top: 4px;
}

.loader__overlay {
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgba(234, 234, 234, 0.9);
  inset: 0;
  z-index: 1;
  animation: loader-hide 1000ms 3500ms both;
}
.loader__overlay .loader__content {
  flex-direction: row;
  animation: loader-hide 500ms 3000ms both;
  justify-content: center;
}
.loader__overlay .logo-food {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
}
.loader__overlay .loader__circle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.loader__overlay .loader__circle {
  width: 10px;
  height: 10px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50%;
  opacity: 0.7;
  animation: scaleAnimation 1000ms backwards infinite ease-in-out alternate;
}
.loader__overlay .loader__circle--1 {
  animation-delay: 200ms;
}
.loader__overlay .loader__circle--2 {
  animation-delay: 400ms;
}
.loader__overlay .loader__circle--3 {
  animation-delay: 600ms;
}
.loader__overlay .loader__circle--4 {
  animation-delay: 800ms;
}
.loader__overlay .loader__circle--5 {
  animation-delay: 1000ms;
}
.loader__overlay .loader__circle--1 {
  animation-delay: 0ms;
}
.loader__overlay .loader__circle--2 {
  animation-delay: 200ms;
}
.loader__overlay .loader__circle--3 {
  animation-delay: 400ms;
}
.loader__overlay .loader__circle--4 {
  animation-delay: 600ms;
}
.loader__overlay .loader__circle--5 {
  animation-delay: 800ms;
}

footer {
  background-color: #353535;
  color: white;
  padding-left: 25px;
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 4em;
    padding-top: 30px;
    align-items: center;
    height: 114px;
  }
}
footer .footer_title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  footer .footer_list {
    display: flex;
    padding-right: 5em;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer_list p {
    margin-bottom: 0.5em;
    padding-right: 1em;
  }
}
footer .footer_list a {
  color: white;
  padding-left: 12px;
}

.header {
  display: flex;
  align-items: center;
}
.header_arrow {
  padding-left: 1em;
  font-size: 1.5em;
}
.header_arrow a {
  color: #000;
}
.header_logo {
  flex-basis: 90%;
}

.menu_pic {
  box-sizing: border-box;
}
.menu_pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
  margin: 0;
}

.container {
  background-color: #F6F6F6;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -3em;
}
@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    margin: -3em 12em 0em 12em;
  }
}
.container_banner {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  padding: 0.75em 0 0 1em;
  margin-top: 25px;
  width: 93%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .container_banner {
    justify-content: center;
  }
}
.container_banner h1 {
  margin: 0;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1024px) {
  .container_banner i {
    padding-left: 1em;
  }
}

.menu {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .menu {
    margin-left: 20%;
    margin-right: 20%;
  }
}
.menu h2 {
  font-weight: 300;
  margin-bottom: 0;
  font-size: 16px;
}
.menu .entrees, .menu .plats, .menu .desserts {
  padding: 0px 13px 40px 13px;
  display: flex;
  flex-direction: column;
}

.underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: 3px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
.order .order__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: 4.3em;
  overflow: hidden;
  animation: order-cards 1000ms both;
  animation-delay: 130ms;
}
.order .order__card .order__txt {
  display: flex;
  flex-direction: column;
  width: auto;
  flex: 1;
  padding-left: 1em;
  padding-top: 1em;
  white-space: nowrap;
  overflow: hidden;
}
.order .order__card .order__txt h3 {
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.order .order__card .order__txt p {
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.order .order__card .order-card__price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.order .order__card .order-card__price {
  display: flex;
  padding-top: 2.3em;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
}
.order .order__card .order-card__notif {
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  transform: scaleX(0);
  transition: width 600s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.order .order__card .order-card__notif .fa-circle-check {
  color: white;
  font-size: 1.3em;
  transform: scale(0);
  transform-origin: center;
}
.order .order__card:hover .order-card__notif {
  width: 3.6em;
  margin-left: 0.9em;
  transform: scaleX(1);
}
.order .order__card:hover .fa-circle-check {
  transform: scale(1);
  animation: check-icon;
  animation-duration: 400ms;
}
.order .order__card:hover {
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.2);
}

.btn-container {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
}
@media screen and (min-width: 1024px) {
  .btn-container {
    display: flex;
    justify-content: center;
    margin-right: 12em;
    margin-left: 12em;
  }
}
.btn-container .btn {
  height: 50px;
  width: 218px;
  margin: 2em;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  white-space: nowrap;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  opacity: 1;
  transition: all 250ms ease-in-out;
  margin-top: 0;
}
.btn-container .btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.full-heart {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  transition: opacity 900ms ease-in-out;
}
.full-heart:hover {
  opacity: 1;
  background-position: 0% 100%;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: opacity 900ms ease-in-out;
}

.fa-heart-main {
  position: absolute;
  right: 30px;
  font-size: 1.5em;
  margin-top: 0.6em;
}

.fa-heart-pages {
  position: absolute;
  font-size: 1.6em;
  padding-top: 0.3em;
}
@media screen and (max-width: 1023px) {
  .fa-heart-pages {
    right: 1em;
  }
}/*# sourceMappingURL=style.css.map */