html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  max-width: 599px;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 700;
}

a, a:visited, a:active {
  text-decoration: none;
}

.location {
  background-color: #EAEAEA;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.location .fa-location-dot {
  padding-right: 1em;
}

img {
  width: 162px;
  height: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 14px;
}

/*** explor & btn ***/
.titre-btn {
  background-color: #F6F6F6;
  text-align: center;
}

.intro-titre p {
  color: #353535;
  font-weight: 300;
  font-size: 18px;
}

.intro-titre {
  padding-left: 30px;
  padding-right: 30px;
}
.intro-titre h1 {
  margin-top: 0;
  padding-top: 28px;
}

.btn {
  height: 50px;
  width: 186px;
  margin: 2em;
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  opacity: 1;
  transition: all 250ms ease-in-out;
}
.btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

/*** fonctionnement ***/
.fonctionnement {
  background-color: #FFFFFF;
  margin-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 0 5em 0 5em;
  }
}
.fonctionnement h2 {
  padding: 20px;
  font-size: 24px;
}
.fonctionnement__list {
  padding-left: 0;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.fonctionnement__list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5em;
  margin: 1.5em 1.5em;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__list li {
    width: 335px;
  }
}
.fonctionnement__list li i {
  color: #7E7E7E;
  margin-left: 1em;
  margin-right: 1em;
}
.fonctionnement__list li .fa-store {
  color: #9356DC;
}
.fonctionnement__list--number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 0.2em;
  margin-left: -1.3em;
  width: 1em;
  text-align: center;
}

/*** restaurants ***/
.restaurants {
  background-color: #F6F6F6;
}
.restaurants h2 {
  margin: 0;
  padding-top: 1.5em;
  padding-left: 1.2em;
}

.card {
  background-color: white;
  border-radius: 20px;
}

.restaurants-cards {
  flex-direction: column;
  margin-top: 0px;
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.restaurants-cards .card {
  max-width: none;
  gap: 4px;
  border-radius: 20px;
  margin: 1.5em;
  height: 251px;
  position: relative;
}
.restaurants-cards .card .notif {
  height: 29px;
  width: 80px;
  border-radius: 2px;
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 1;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.restaurants-cards .card .notif__text {
  padding: 0px 11px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}
.restaurants-cards a {
  height: 100%;
  display: block;
  color: #000;
}
.restaurants-cards img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants-cards .card-content {
  width: 92%;
  display: block;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants-cards .card-content .card-txt {
  margin: 0;
  gap: 6;
}
.restaurants-cards .card-content .card-txt h3 {
  margin: 0;
}
.restaurants-cards .card-content .card-txt p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  padding-top: 4px;
}

footer {
  background-color: #353535;
  color: white;
  padding-left: 25px;
}
footer .footer_title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
footer a {
  color: white;
  padding-left: 12px;
}

.header {
  display: flex;
  align-items: center;
}
.header_arrow {
  padding-left: 1em;
  font-size: 1.5em;
}
.header_arrow a {
  color: #000;
}
.header_logo {
  flex-basis: 90%;
}

.menu_pic {
  box-sizing: border-box;
}
.menu_pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
  margin: 0;
}

.container {
  background-color: #F6F6F6;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -3em;
}
.container_banner {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  padding: 0.75em 0 0 1em;
  margin-top: 25px;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_banner h1 {
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu h2 {
  font-weight: 300;
  margin-bottom: 0;
  font-size: 16px;
}
.menu .entrees, .menu .plats, .menu .desserts {
  padding: 0px 13px 40px 13px;
  display: flex;
  flex-direction: column;
}

.underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: 3px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
.order .order__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  height: 4.3em;
  overflow: hidden;
}
.order .order__card .order__txt {
  display: flex;
  flex-direction: column;
  width: auto;
  flex: 1;
  padding-left: 20px;
}
.order .order__card .order__txt h3 {
  padding-top: 0.8em;
  margin: 0;
  font-size: 18px;
}
.order .order__card .order__txt p {
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 12px;
  margin-top: 4px;
}
.order .order__card .order-card__price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.order .order__card .order-card__price {
  width: 4.3em;
  display: flex;
  padding-top: 2.3em;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
}
.order .order__card .order-card__notif {
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition-duration: 0.3s;
}
.order .order__card .order-card__notif .fa-circle-check {
  color: white;
  width: 20px;
  height: 20px;
}
.order .order__card:hover > .order-card__notif {
  margin: 0;
  transition: all 0.8s;
}

.btn-container {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
}
.btn-container .btn {
  height: 50px;
  width: 186px;
  margin: 2em;
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  opacity: 1;
  transition: all 250ms ease-in-out;
  margin-top: 0;
}
.btn-container .btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}/*# sourceMappingURL=style.css.map */