html {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.main-container {
    width: 100%;
    max-width: 599px;
    padding: 0;
    box-sizing: border-box;
}