
@use '../util' as u;


// .logo .img {
//     width: 162px;
//     height: 44px;

// }

.location {
    background-color: #EAEAEA;
    display: flex;
    align-items: baseline;
    justify-content: center;

    .fa-location-dot {
        padding-right: 1em;
    }
}

img {
    width: 197px;
    height: 36px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
}