@use '../util' as u;


.header {
    display: flex;
    align-items: center; // requires modification 

    &_arrow {
        padding-left: 1em;
        font-size: 1.5em;
        // margin-top: 20px;  // requires modification 
        

        a {
            color: #000;
        }
    }

    &_logo {
        flex-basis: 90%;
    }

}


.menu_pic {
  box-sizing: border-box;

  img {
      object-fit: cover;
      width: 100%;
      height: 275px;
      margin: 0;
  }
}


.container {
    
  background-color: u.$lighterGray;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -3em;

  &_banner {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    text-align: center;
    align-items: center;
    padding: 0.75em 0 0 1em;
    
    h1 {
      margin: 0;
    }
  }
}




.menu {

  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;

  h2 {
    font-weight: 300;
  }


}

.order {
    
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  
  
  .order__card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    height: 4.3em;
    overflow: hidden;
  
    .order__txt {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      width: auto;
      flex: 1;
      padding-left: 20px;
  
  
        h3 {
          padding-top: 0.8em;
          margin: 0;
        }
  
        p {
          font-weight: 300;
          font-size: 15px;
          padding-bottom: 12px;
          margin-top: 4px;
        }
  
      }
  
      &__price {
        width: 4.3em;
        height: 100%;
        display: flex;
        padding-top: 2.3em;
        justify-content: center;
    
          span {
            font-weight: 700;
            font-size: 15px;
          }
      }
    }
  
  }


.btn-container {
  margin-left: auto;
  margin-right: auto;

//   .btn {
//     @include u.btn; 
// }
}
