@use '../util' as u;


.header {
    display: flex;
    align-items: center; 

    &_arrow {
        padding-left: 1em;
        font-size: 1.5em;

        

        a {
            color: #000;
        }
    }

    &_logo {
        flex-basis: 90%;
    }

}


.menu_pic {
  box-sizing: border-box;

  img {
      object-fit: cover;
      width: 100%;
      height: 275px;
      margin: 0;
  }
}


.container {
    
  background-color: u.$lighterGray;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -3em;
  @media screen and (min-width: u.$breakpoint) {
    display: flex;
    justify-content: center;
    margin: -3em 12em 0em 12em;
  }

  &_banner {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    padding: 0.75em 0 0 1em;
    margin-top: 25px;
    width: 93%;
    display: flex;
    justify-content: space-between;
   
    white-space: nowrap;
    overflow: hidden;
    

    @media screen and (min-width: u.$breakpoint) {
      justify-content: center;

    }
    
    h1 {
      margin: 0;
      font-size: 28px;
      @include u.ellipse;
     
    }

    i {

      @media screen and (min-width: u.$breakpoint) {
        padding-left: 1em;
        }
     }
  }
}




.menu {

  display: flex;
  flex-direction: column;


  @media screen and (min-width: u.$breakpoint) {
    margin-left: 20%;
    margin-right: 20%;
  }

  h2 {
    font-weight: 300;
    margin-bottom: 0;
    font-size: 16px;
  }

  .entrees, .plats, .desserts {
    padding: 0px 13px 40px 13px;
    display: flex;
    flex-direction: column;
  }
}

.underline {
  width: 40px;
  height: 3px;
  background-color: u.$light-green-background;
  border: 3px;
  margin-top: 6px;
  margin-bottom: 12px; 
}


.order {
    
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  
  
  .order__card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    height: 4.3em;
    overflow: hidden;
    animation: order-cards 1000ms both;
    animation-delay: 130ms ;
  
    .order__txt {
      display: flex;
      flex-direction: column;
      width: auto;
      flex: 1;
      padding-left: 1em;
      padding-top: 1em;
      white-space: nowrap;
      overflow: hidden;
      
     
  
      h3 {
        margin: 0;
        font-size: 18px;
        @include u.ellipse;
      }
  
      p {
        font-weight: 300;
        font-size: 15px;
        margin: 0;
        @include u.ellipse;
      }
  
    }

    .order-card__price-container {
      display: flex;
      flex-direction: row;
      align-items: center;
     
    }


      .order-card__price {
        display: flex;
        padding-top: 2.3em;
        justify-content: center;
        font-weight: 700;
        font-size: 15px;   
      }


      .order-card__notif {
        background-color: u.$light-green-background;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 100%;
        transform: scaleX(0);
        transition: width 600s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
      
       
        

        .fa-circle-check {
          color: white;
          font-size: 1.3em;
          transform: scale(0);
          transform-origin: center;  
        }

      }

      &:hover .order-card__notif { 
        width: 3.6em;
        margin-left: 0.9em;
        transform: scaleX(1);      
      }

      &:hover .fa-circle-check {
        transform: scale(1); 
        animation: check-icon;
        animation-duration: 400ms;  
       
      }

      &:hover {
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.2);
      }

  }
  
}

  




.btn-container {
  display: flex;
  justify-content: center;
  background-color:  u.$lighterGray;
  @media screen and (min-width: u.$breakpoint) {
    display: flex;
    justify-content: center;
    margin-right: 12em;
    margin-left: 12em;
}

  .btn {
    @include u.btn; 
    margin-top: 0;
}
}
