
@keyframes check-icon {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes order-cards {
    0% {
        opacity: 0;
        transform: translateY(-15%);
      }
    
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}