@use 'variables' as v;

@mixin btn {
    height: 50px; 
    width: 218px;
    margin: 2em;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 16px;
    white-space: nowrap;
    background: linear-gradient(to bottom,  v.$secondary-color, v.$primary-color); 
    box-shadow: 0px 4px 10px 0px #00000040;
    opacity: 1;
    transition: all 250ms ease-in-out;
    
    
    &:hover {
      opacity: 0.85;
      box-shadow: 0px 4px 15px 0px #00000059;
    }

}

@mixin ellipse {  // is cursed for some reason, and wont work properly 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}