
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$dark-blue: #003A68;
$light-blue: #89C8FA;
$light-green-background: #99E2D0;
$font-green: #008766;
$basic-white: #F3F3F3;
$lighterGray: #F6F6F6;
$Gray: #7E7E7E;
$white: #FFFFFF;
